In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
months = ['Gener', 'Febrer', 'Marc', 'Abril', 'Maig', 'Juny'] #'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
indeces = ['01', '02', '03', '04', '05', '06'] # '07', '08', '09', '10', '11', '12']
years = ['2021'] #['2020', '2021', '2022', '2023']

## OJO ##
# EN 2021 Y 2022 EL DOCUMENTO SE LLAMA MARÃ‡ EN VEZ DE MARC, HAY QUE CAMBIARLO A MARC PARA QUE FUNCIONE

data = pd.DataFrame()
for year in years:
    for index, month in zip(indeces, months):
        month_year = pd.read_csv('../raw_data/{}_{}_{}_BicingNou_ESTACIONS.csv'.format(year, index, month))
        data = pd.concat([data, month_year])

In [ ]:
data['last_updated'] = pd.to_datetime(data['last_updated'], unit='s')
data['last_reported'] = pd.to_datetime(data['last_reported'], unit='s')

In [17]:
data[data['station_id']==4].head(30)

# last reported entenc que Ã©s quan hi ha canvis de bicicletes que entren o surten
# last updated Ã©s sempre cada 5 min, quan s'envia la info.

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
508,4,15,14,1,6,2020-12-31 23:02:05,True,IN_SERVICE,1,1,1,2020-12-31 23:05:32,29
1013,4,15,14,1,6,2020-12-31 23:06:28,True,IN_SERVICE,1,1,1,2020-12-31 23:10:05,2
1518,4,15,14,1,6,2020-12-31 23:15:13,True,IN_SERVICE,1,1,1,2020-12-31 23:15:34,30
2023,4,15,14,1,6,2020-12-31 23:19:42,True,IN_SERVICE,1,1,1,2020-12-31 23:20:31,27
2528,4,15,14,1,6,2020-12-31 23:24:01,True,IN_SERVICE,1,1,1,2020-12-31 23:25:34,30
3033,4,15,14,1,6,2020-12-31 23:28:27,True,IN_SERVICE,1,1,1,2020-12-31 23:30:27,23
3538,4,15,14,1,6,2020-12-31 23:32:49,True,IN_SERVICE,1,1,1,2020-12-31 23:35:30,27
4043,4,15,14,1,6,2020-12-31 23:37:15,True,IN_SERVICE,1,1,1,2020-12-31 23:40:32,29
4548,4,15,14,1,6,2020-12-31 23:41:38,True,IN_SERVICE,1,1,1,2020-12-31 23:45:14,10
5053,4,15,15,0,6,2020-12-31 23:50:26,True,IN_SERVICE,1,1,1,2020-12-31 23:50:34,30
5558,4,13,13,0,8,2020-12-31 23:54:47,True,IN_SERVICE,1,1,1,2020-12-31 23:55:17,13
6063,4,13,13,0,8,2020-12-31 23:59:14,True,IN_SERVICE,1,1,1,2021-01-01 00:00:33,29
6568,4,12,12,0,9,2021-01-01 00:03:42,True,IN_SERVICE,1,1,1,2021-01-01 00:05:21,18
7073,4,12,12,0,9,2021-01-01 00:08:02,True,IN_SERVICE,1,1,1,2021-01-01 00:10:10,6
7578,4,12,12,0,9,2021-01-01 00:12:26,True,IN_SERVICE,1,1,1,2021-01-01 00:15:31,28
8083,4,12,12,0,9,2021-01-01 00:16:50,True,IN_SERVICE,1,1,1,2021-01-01 00:20:04,1
8588,4,12,12,0,9,2021-01-01 00:21:18,True,IN_SERVICE,1,1,1,2021-01-01 00:25:29,26
9093,4,12,12,0,9,2021-01-01 00:30:05,True,IN_SERVICE,1,1,1,2021-01-01 00:30:34,30
9598,4,12,12,0,9,2021-01-01 00:34:29,True,IN_SERVICE,1,1,1,2021-01-01 00:35:13,10
10103,4,12,12,0,9,2021-01-01 00:38:55,True,IN_SERVICE,1,1,1,2021-01-01 00:40:30,27
10608,4,12,12,0,9,2021-01-01 00:43:22,True,IN_SERVICE,1,1,1,2021-01-01 00:45:32,28
11113,4,12,12,0,9,2021-01-01 00:47:49,True,IN_SERVICE,1,1,1,2021-01-01 00:50:34,30
11618,4,12,12,0,9,2021-01-01 00:52:16,True,IN_SERVICE,1,1,1,2021-01-01 00:55:26,22
12123,4,13,13,0,8,2021-01-01 00:56:41,True,IN_SERVICE,1,1,1,2021-01-01 01:00:34,30
12628,4,13,13,0,8,2021-01-01 01:01:08,True,IN_SERVICE,1,1,1,2021-01-01 01:05:15,12
13133,4,14,13,1,7,2021-01-01 01:09:58,True,IN_SERVICE,1,1,1,2021-01-01 01:10:28,24
13638,4,14,13,1,7,2021-01-01 01:14:25,True,IN_SERVICE,1,1,1,2021-01-01 01:15:32,28
14143,4,14,13,1,7,2021-01-01 01:18:53,True,IN_SERVICE,1,1,1,2021-01-01 01:20:33,30
14648,4,14,13,1,7,2021-01-01 01:23:18,True,IN_SERVICE,1,1,1,2021-01-01 01:25:04,1

In [9]:
data.columns

Index(['station_id', 'num_bikes_available',
       'num_bikes_available_types.mechanical',
       'num_bikes_available_types.ebike', 'num_docks_available',
       'last_reported', 'is_charging_station', 'status', 'is_installed',
       'is_renting', 'is_returning', 'last_updated', 'ttl'],
      dtype='object')

In [ ]:
# Convert Unix timestamp to date format
data['last_updated'] = pd.to_datetime(data['last_updated'], unit='s')
data['last_reported'] = pd.to_datetime(data['last_reported'], unit='s')

# Extract year, month, day, and hour into separate columns
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data['hour'] = data['date'].dt.hour

# Drop the 'date' column if you don't need it anymore
data.drop(columns=['date'], inplace=True)

print(data)