In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
months = ['Gener', 'Febrer', 'Marc', 'Abril', 'Maig', 'Juny'] #'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
indeces = ['01', '02', '03', '04', '05', '06'] # '07', '08', '09', '10', '11', '12']
years = ['2021'] #['2020', '2021', '2022', '2023']

## OJO ##
# EN 2021 Y 2022 EL DOCUMENTO SE LLAMA MARÇ EN VEZ DE MARC, HAY QUE CAMBIARLO A MARC PARA QUE FUNCIONE

data = pd.DataFrame()
for year in years:
    for index, month in zip(indeces, months):
        month_year = pd.read_csv('../raw_data/{}_{}_{}_BicingNou_ESTACIONS.csv'.format(year, index, month))
        data = pd.concat([data, month_year])

In [3]:
data['last_updated'] = pd.to_datetime(data['last_updated'], unit='s')
data['last_reported'] = pd.to_datetime(data['last_reported'], unit='s')

In [4]:
data[data['station_id']==4].head()

# last reported entenc que és quan hi ha canvis de bicicletes que entren o surten
# last updated és sempre cada 5 min, quan s'envia la info.

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
508,4,15,14,1,6,2020-12-31 23:02:05,True,IN_SERVICE,1,1,1,2020-12-31 23:05:32,29
1013,4,15,14,1,6,2020-12-31 23:06:28,True,IN_SERVICE,1,1,1,2020-12-31 23:10:05,2
1518,4,15,14,1,6,2020-12-31 23:15:13,True,IN_SERVICE,1,1,1,2020-12-31 23:15:34,30
2023,4,15,14,1,6,2020-12-31 23:19:42,True,IN_SERVICE,1,1,1,2020-12-31 23:20:31,27

In [5]:
data.columns

Index(['station_id', 'num_bikes_available',
       'num_bikes_available_types.mechanical',
       'num_bikes_available_types.ebike', 'num_docks_available',
       'last_reported', 'is_charging_station', 'status', 'is_installed',
       'is_renting', 'is_returning', 'last_updated', 'ttl'],
      dtype='object')

In [6]:
data.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl
0,1,43,43,0,3,2020-12-31 22:56:46,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
1,2,17,15,2,10,2020-12-31 22:57:51,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
2,3,3,3,0,22,2020-12-31 22:56:48,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
4,5,8,8,0,31,2020-12-31 22:57:21,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22

In [7]:
data['year'] = data['last_updated'].dt.year
data['month'] = data['last_updated'].dt.month
data['day'] = data['last_updated'].dt.day
data['hour'] = data['last_updated'].dt.hour

data.drop(columns=['last_updated'], inplace=True)

data.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,ttl,year,month,day,hour
0,1,43,43,0,3,2020-12-31 22:56:46,True,IN_SERVICE,1,1,1,22,2020,12,31,23
1,2,17,15,2,10,2020-12-31 22:57:51,True,IN_SERVICE,1,1,1,22,2020,12,31,23
2,3,3,3,0,22,2020-12-31 22:56:48,True,IN_SERVICE,1,1,1,22,2020,12,31,23
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,22,2020,12,31,23
4,5,8,8,0,31,2020-12-31 22:57:21,True,IN_SERVICE,1,1,1,22,2020,12,31,23

In [8]:
data['percentage_available'] = data['num_bikes_available'] / (data['num_bikes_available'] + data['num_docks_available'])
output_data = data[['station_id', 'year','month', 'day', 'hour', 'percentage_available']].copy()
output_data.reset_index(drop=False, inplace=True)
output_data.rename(columns={'index': 'index'}, inplace=True)

In [9]:
print('nombre estacions: ', len(np.unique(output_data['station_id'])))

nombre estacions:  509

In [10]:
output_data[output_data['station_id']==4].head(13)

      index  station_id  year  month  day  hour  percentage_available
3         3           4  2020     12   31    23              0.714286
508     508           4  2020     12   31    23              0.714286
1013   1013           4  2020     12   31    23              0.714286
1518   1518           4  2020     12   31    23              0.714286
2023   2023           4  2020     12   31    23              0.714286
2528   2528           4  2020     12   31    23              0.714286
3033   3033           4  2020     12   31    23              0.714286
3538   3538           4  2020     12   31    23              0.714286
4043   4043           4  2020     12   31    23              0.714286
4548   4548           4  2020     12   31    23              0.714286
5053   5053           4  2020     12   31    23              0.714286
5558   5558           4  2020     12   31    23              0.619048
6063   6063           4  2021      1    1     0              0.619048

In [14]:
output_data.loc[0]['percentage_available']

0.9347826086956522