In [52]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [56]:
years = [2020, 2021, 2022, 2023, 2024]
data = pd.read_csv('data/formated data/data_{}.csv'.format(years[0]))
data = data[data['year'] == years[0]]

weather_data = pd.read_csv('data/weather_data/weather_data_{}.csv'.format(years[0]))

for year in years[1:]:
    curr_data = pd.read_csv('data/formated data/data_{}.csv'.format(year))
    curr_data['year'] = year
    curr_data = curr_data[curr_data['year'] == year]
    data = pd.concat([data,curr_data])
    weather_data = pd.concat([weather_data,pd.read_csv('data/weather_data/weather_data_{}.csv'.format(year))])

data = data[['station_id', 'year', 'month', 'day', 'hour', 'ctx-4', 'ctx-3', 'ctx-2', 'ctx-1', 'percentage_docks_available']]
data['date'] = data['year'].astype(int).astype(str)+'/'+data['month'].astype(int).astype(str)+'/' + data['day'].astype(int).astype(str)+'/'+data['hour'].astype(int).astype(str)
data.sort_values(['year', 'month','day','hour'], ascending = True)

weather_data = weather_data[['year','month','day','hour','mm_precip','temperature']]
weather_data['date'] = weather_data['year'].astype(int).astype(str)+'/'+weather_data['month'].astype(int).astype(str)+'/' + weather_data['day'].astype(int).astype(str)+'/'+weather_data['hour'].astype(int).astype(str)
weather_data = weather_data[['mm_precip', 'temperature', 'date']]

In [57]:
ids_data = np.unique(data['station_id'])

In [58]:
len(data)

3474268

In [59]:
data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22
...,...,...,...,...,...,...,...,...,...,...,...
171897,496.0,2024,3.0,31.0,1.0,0.828704,0.787037,0.777778,0.853535,NaN,2024/3/31/1
171898,496.0,2024,3.0,31.0,6.0,0.930556,0.944444,0.935185,0.856481,NaN,2024/3/31/6
171899,496.0,2024,3.0,31.0,11.0,0.912037,0.884259,0.518519,0.157407,NaN,2024/3/31/11
171900,496.0,2024,3.0,31.0,16.0,0.245370,0.319444,0.277778,0.305556,NaN,2024/3/31/16
171901,496.0,2024,3.0,31.0,21.0,0.513889,0.435185,0.490741,0.504630,NaN,2024/3/31/21

In [60]:
stations_info = pd.read_csv('data/info bicing/Informacio_Estacions_Bicing.csv')
stations_info = stations_info[['station_id', 'lat','lon', 'altitude', 'post_code', 'capacity']]
stations_info['post_code'] = '0' + stations_info['post_code'].astype(str)
stations_info

     station_id        lat       lon  altitude post_code  capacity
0             1  41.397978  2.180107      16.0     08013        45
1             2  41.395488  2.177198      17.0     08013        29
2             3  41.394156  2.181331      11.0     08013        27
3             4  41.393317  2.181248       8.0     08013        21
4             5  41.391103  2.180176       7.0     08018        39
..          ...        ...       ...       ...       ...       ...
501         515  41.435207  2.194800      19.0     08030        24
502         516  41.435460  2.200157      15.0     08030        21
503         517  41.462095  2.178959      44.0     08033        20
504         518  41.424689  2.157049     112.0     08032        27
505         519  41.424655  2.166289     110.0     08032        24

[506 rows x 6 columns]

In [61]:
ids_stations = np.unique(stations_info['station_id'])

In [62]:
no_coincide = [id for id in ids_data if id not in ids_stations]
no_coincide

[48.0, 59.0, 93.0, 188.0, 429.0, 487.0, 520.0, 529.0, 530.0, 532.0]

In [63]:
len(data[data['station_id'].isin(no_coincide)])

27370

In [64]:
full_data = data.copy()
len(full_data)

3474268

In [65]:
full_data = pd.merge(full_data, stations_info, left_on = 'station_id', right_on = 'station_id')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45

In [66]:
len(full_data)

3446898

In [67]:
### HASTA AQUÍ BIEN

In [68]:
full_data.sort_values(['station_id','year','month','day','hour']).head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45

In [69]:
len(full_data)

3446898

In [70]:
full_data = pd.merge(full_data, weather_data, left_on = 'date', right_on = 'date', how = 'left')
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446893,431.0,2023,12.0,31.0,0.0,0.700000,0.700000,0.700000,0.700000,0.750000,2023/12/31/0,41.383467,2.122175,53.0,08028,20,0.0,10.25
3446894,431.0,2023,12.0,31.0,5.0,0.750000,0.750000,0.750000,0.750000,0.750000,2023/12/31/5,41.383467,2.122175,53.0,08028,20,0.0,9.50
3446895,431.0,2023,12.0,31.0,10.0,0.750000,0.750000,0.750000,0.750000,0.750000,2023/12/31/10,41.383467,2.122175,53.0,08028,20,0.0,13.95
3446896,431.0,2023,12.0,31.0,15.0,0.727273,0.650000,0.650000,0.679167,0.700000,2023/12/31/15,41.383467,2.122175,53.0,08028,20,0.0,15.65
3446897,431.0,2023,12.0,31.0,20.0,0.700000,0.700000,0.700000,0.700000,0.700000,2023/12/31/20,41.383467,2.122175,53.0,08028,20,0.0,10.85

In [71]:
full_data[full_data['temperature'].isnull()]

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
1203,1.0,2020,10.0,25.0,2.0,0.294466,0.288043,0.217391,0.195652,0.187747,2020/10/25/2,41.397978,2.180107,16.0,08013,45,NaN,NaN
1501,1.0,2020,12.0,31.0,4.0,0.052536,0.043478,0.047101,0.148551,0.478261,2020/12/31/4,41.397978,2.180107,16.0,08013,45,NaN,NaN
1502,1.0,2020,12.0,31.0,9.0,0.478261,0.516304,0.548913,0.547101,0.481884,2020/12/31/9,41.397978,2.180107,16.0,08013,45,NaN,NaN
1503,1.0,2020,12.0,31.0,14.0,0.492754,0.429348,0.467391,0.423730,0.414773,2020/12/31/14,41.397978,2.180107,16.0,08013,45,NaN,NaN
1504,1.0,2020,12.0,31.0,19.0,0.413620,0.329710,0.264493,0.209486,0.122074,2020/12/31/19,41.397978,2.180107,16.0,08013,45,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446850,431.0,2023,12.0,22.0,1.0,0.720833,0.800000,0.800000,0.800000,0.800000,2023/12/22/1,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446851,431.0,2023,12.0,22.0,6.0,0.800000,0.800000,0.800000,0.800000,0.800000,2023/12/22/6,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446852,431.0,2023,12.0,22.0,11.0,0.762500,0.750000,0.750000,0.704545,0.745833,2023/12/22/11,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446853,431.0,2023,12.0,22.0,16.0,0.750000,0.770833,0.850000,0.850000,0.850000,2023/12/22/16,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446854,431.0,2023,12.0,22.0,21.0,0.816667,0.827900,0.908333,0.950000,0.950000,2023/12/22/21,41.383467,2.122175,53.0,08028,20,NaN,NaN

In [72]:
full_data[full_data['mm_precip'].isnull()]

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
1203,1.0,2020,10.0,25.0,2.0,0.294466,0.288043,0.217391,0.195652,0.187747,2020/10/25/2,41.397978,2.180107,16.0,08013,45,NaN,NaN
1501,1.0,2020,12.0,31.0,4.0,0.052536,0.043478,0.047101,0.148551,0.478261,2020/12/31/4,41.397978,2.180107,16.0,08013,45,NaN,NaN
1502,1.0,2020,12.0,31.0,9.0,0.478261,0.516304,0.548913,0.547101,0.481884,2020/12/31/9,41.397978,2.180107,16.0,08013,45,NaN,NaN
1503,1.0,2020,12.0,31.0,14.0,0.492754,0.429348,0.467391,0.423730,0.414773,2020/12/31/14,41.397978,2.180107,16.0,08013,45,NaN,NaN
1504,1.0,2020,12.0,31.0,19.0,0.413620,0.329710,0.264493,0.209486,0.122074,2020/12/31/19,41.397978,2.180107,16.0,08013,45,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446850,431.0,2023,12.0,22.0,1.0,0.720833,0.800000,0.800000,0.800000,0.800000,2023/12/22/1,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446851,431.0,2023,12.0,22.0,6.0,0.800000,0.800000,0.800000,0.800000,0.800000,2023/12/22/6,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446852,431.0,2023,12.0,22.0,11.0,0.762500,0.750000,0.750000,0.704545,0.745833,2023/12/22/11,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446853,431.0,2023,12.0,22.0,16.0,0.750000,0.770833,0.850000,0.850000,0.850000,2023/12/22/16,41.383467,2.122175,53.0,08028,20,NaN,NaN
3446854,431.0,2023,12.0,22.0,21.0,0.816667,0.827900,0.908333,0.950000,0.950000,2023/12/22/21,41.383467,2.122175,53.0,08028,20,NaN,NaN

In [73]:
full_data['temperature'] = full_data['temperature'].fillna(value = full_data['temperature'].mean())
full_data['mm_precip'] = full_data['mm_precip'].fillna(value = full_data['mm_precip'].mean())

In [74]:
len(full_data)

3446898

In [75]:
## HASTA AQUÍ TODO BIEN

In [76]:
codigos_postales_bcn = np.unique(full_data['post_code'])

locations = pd.read_csv('data/locations_data/barna_pics.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
locations.columns = ['post_code', 'rating']
locations['post_code'] = '0'+locations['post_code'].astype(int).astype(str)

locations.head()

  post_code  rating
0     08001      30
1     08002      40
2     08003      42
3     08004      24
4     08005      21

In [77]:
data_zip = np.unique(full_data['post_code'])
locations_zip = np.unique(locations['post_code'])

In [78]:
zip_not_coinc = [code for code in data_zip if code not in locations_zip]
zip_not_coinc

['08040', '08930']

In [79]:
full_data[full_data['post_code'].isin(zip_not_coinc)]

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
63159,10.0,2020,10.0,8.0,13.0,0.550000,0.560000,1.000000,1.000000,1.000000,2020/10/8/13,41.346775,2.143623,4.0,08040,43,0.00,22.80
63160,10.0,2020,10.0,8.0,18.0,1.000000,0.650503,0.579268,0.560976,0.560976,2020/10/8/18,41.346775,2.143623,4.0,08040,43,0.00,18.95
63161,10.0,2020,10.0,8.0,23.0,0.560976,0.560976,0.560976,0.584525,0.557124,2020/10/8/23,41.346775,2.143623,4.0,08040,43,0.00,17.30
63162,10.0,2020,10.0,9.0,4.0,0.553571,0.571429,0.571429,0.571429,0.571429,2020/10/9/4,41.346775,2.143623,4.0,08040,43,0.00,16.40
63163,10.0,2020,10.0,9.0,9.0,0.571429,0.559524,0.547619,0.547619,0.547619,2020/10/9/9,41.346775,2.143623,4.0,08040,43,0.00,23.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236318,35.0,2024,3.0,30.0,22.0,0.114198,0.152778,0.126543,0.125000,NaN,2024/3/30/22,41.413483,2.220691,5.0,08930,54,0.40,13.25
236319,35.0,2024,3.0,31.0,3.0,0.152778,0.158951,0.148148,0.148148,NaN,2024/3/31/3,41.413483,2.220691,5.0,08930,54,0.00,13.45
236320,35.0,2024,3.0,31.0,8.0,0.146605,0.129630,0.135802,0.165123,NaN,2024/3/31/8,41.413483,2.220691,5.0,08930,54,0.00,15.50
236321,35.0,2024,3.0,31.0,13.0,0.149691,0.069444,0.035494,0.155864,NaN,2024/3/31/13,41.413483,2.220691,5.0,08930,54,2.25,13.00
236322,35.0,2024,3.0,31.0,18.0,0.351852,0.351852,0.351852,0.351852,NaN,2024/3/31/18,41.413483,2.220691,5.0,08930,54,0.65,12.70

In [80]:
#full_data = pd.merge(full_data, poligs_bcn_locs, left_on = 'post_code', right_on = 'post_code')
full_data = pd.merge(full_data, locations, left_on = 'post_code', right_on = 'post_code', how = 'left')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0

In [81]:
len(full_data)

3446898

In [82]:
full_data[full_data['rating'].isnull()]

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating
63159,10.0,2020,10.0,8.0,13.0,0.550000,0.560000,1.000000,1.000000,1.000000,2020/10/8/13,41.346775,2.143623,4.0,08040,43,0.00,22.80,NaN
63160,10.0,2020,10.0,8.0,18.0,1.000000,0.650503,0.579268,0.560976,0.560976,2020/10/8/18,41.346775,2.143623,4.0,08040,43,0.00,18.95,NaN
63161,10.0,2020,10.0,8.0,23.0,0.560976,0.560976,0.560976,0.584525,0.557124,2020/10/8/23,41.346775,2.143623,4.0,08040,43,0.00,17.30,NaN
63162,10.0,2020,10.0,9.0,4.0,0.553571,0.571429,0.571429,0.571429,0.571429,2020/10/9/4,41.346775,2.143623,4.0,08040,43,0.00,16.40,NaN
63163,10.0,2020,10.0,9.0,9.0,0.571429,0.559524,0.547619,0.547619,0.547619,2020/10/9/9,41.346775,2.143623,4.0,08040,43,0.00,23.75,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236318,35.0,2024,3.0,30.0,22.0,0.114198,0.152778,0.126543,0.125000,NaN,2024/3/30/22,41.413483,2.220691,5.0,08930,54,0.40,13.25,NaN
236319,35.0,2024,3.0,31.0,3.0,0.152778,0.158951,0.148148,0.148148,NaN,2024/3/31/3,41.413483,2.220691,5.0,08930,54,0.00,13.45,NaN
236320,35.0,2024,3.0,31.0,8.0,0.146605,0.129630,0.135802,0.165123,NaN,2024/3/31/8,41.413483,2.220691,5.0,08930,54,0.00,15.50,NaN
236321,35.0,2024,3.0,31.0,13.0,0.149691,0.069444,0.035494,0.155864,NaN,2024/3/31/13,41.413483,2.220691,5.0,08930,54,2.25,13.00,NaN
236322,35.0,2024,3.0,31.0,18.0,0.351852,0.351852,0.351852,0.351852,NaN,2024/3/31/18,41.413483,2.220691,5.0,08930,54,0.65,12.70,NaN

In [83]:
full_data['rating'] = full_data['rating'].fillna(value = full_data['rating'].median())
full_data[full_data['rating'].isnull()]

Empty DataFrame
Columns: [station_id, year, month, day, hour, ctx-4, ctx-3, ctx-2, ctx-1, percentage_docks_available, date, lat, lon, altitude, post_code, capacity, mm_precip, temperature, rating]
Index: []

In [84]:
data_ocio = pd.read_csv('data/locations_data/bcn_ocio.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
data_ocio.columns = ['post_code', 'ocio']
data_ocio['post_code'] = '0'+data_ocio['post_code'].astype(int).astype(str)
data_ocio.head()

  post_code  ocio
0       080     4
1     08000     6
2     08001   151
3     08002   119
4     08003   173

In [85]:
full_data = pd.merge(full_data, data_ocio, left_on = 'post_code', right_on = 'post_code', how = 'left')

In [86]:
len(full_data)

3446898

In [87]:
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0,88.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0,88.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0,88.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0,88.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0,88.0

In [88]:
full_data[full_data['ocio'].isnull()]

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio
229305,35.0,2020,1.0,1.0,1.0,0.240909,0.884615,0.916667,0.923077,0.839744,2020/1/1/1,41.413483,2.220691,5.0,08930,54,0.00,6.00,21.0,NaN
229306,35.0,2020,1.0,1.0,6.0,0.769231,0.769231,0.682692,0.653846,0.653846,2020/1/1/6,41.413483,2.220691,5.0,08930,54,0.00,4.25,21.0,NaN
229307,35.0,2020,1.0,1.0,11.0,0.628205,0.618590,0.653846,0.707101,0.743590,2020/1/1/11,41.413483,2.220691,5.0,08930,54,0.00,11.90,21.0,NaN
229308,35.0,2020,1.0,1.0,16.0,0.772436,0.721154,0.709790,0.730769,0.750000,2020/1/1/16,41.413483,2.220691,5.0,08930,54,0.00,10.20,21.0,NaN
229309,35.0,2020,1.0,1.0,21.0,0.769231,0.717949,0.634615,0.605769,0.599359,2020/1/1/21,41.413483,2.220691,5.0,08930,54,0.00,7.40,21.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236318,35.0,2024,3.0,30.0,22.0,0.114198,0.152778,0.126543,0.125000,NaN,2024/3/30/22,41.413483,2.220691,5.0,08930,54,0.40,13.25,21.0,NaN
236319,35.0,2024,3.0,31.0,3.0,0.152778,0.158951,0.148148,0.148148,NaN,2024/3/31/3,41.413483,2.220691,5.0,08930,54,0.00,13.45,21.0,NaN
236320,35.0,2024,3.0,31.0,8.0,0.146605,0.129630,0.135802,0.165123,NaN,2024/3/31/8,41.413483,2.220691,5.0,08930,54,0.00,15.50,21.0,NaN
236321,35.0,2024,3.0,31.0,13.0,0.149691,0.069444,0.035494,0.155864,NaN,2024/3/31/13,41.413483,2.220691,5.0,08930,54,2.25,13.00,21.0,NaN
236322,35.0,2024,3.0,31.0,18.0,0.351852,0.351852,0.351852,0.351852,NaN,2024/3/31/18,41.413483,2.220691,5.0,08930,54,0.65,12.70,21.0,NaN

In [89]:
full_data['ocio'] = full_data['ocio'].fillna(value = full_data['ocio'].median())
full_data[full_data['ocio'].isnull()]

Empty DataFrame
Columns: [station_id, year, month, day, hour, ctx-4, ctx-3, ctx-2, ctx-1, percentage_docks_available, date, lat, lon, altitude, post_code, capacity, mm_precip, temperature, rating, ocio]
Index: []

In [90]:
len(full_data)

3446898

In [91]:
bicis = pd.read_csv('data/locations_data/equipament.csv', encoding = 'utf-16')
carril_bicis = bicis[bicis["name"].str.contains("Carril - Bici")].groupby(['addresses_zip_code']).size().reset_index()
carril_bicis['addresses_zip_code']='0'+carril_bicis['addresses_zip_code'].astype(int).astype(str)
carril_bicis.columns = ['post_code', 'carriles']
carril_bicis.head()
full_data = pd.merge(full_data, carril_bicis, left_on = 'post_code', right_on = 'post_code', how = 'left')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0,88.0,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0,88.0,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0,88.0,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0,88.0,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0,88.0,6.0

In [92]:
full_data[full_data['carriles'].isna()]

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
63159,10.0,2020,10.0,8.0,13.0,0.550000,0.560000,1.000000,1.000000,1.000000,...,41.346775,2.143623,4.0,08040,43,0.0,22.80,21.0,3.0,NaN
63160,10.0,2020,10.0,8.0,18.0,1.000000,0.650503,0.579268,0.560976,0.560976,...,41.346775,2.143623,4.0,08040,43,0.0,18.95,21.0,3.0,NaN
63161,10.0,2020,10.0,8.0,23.0,0.560976,0.560976,0.560976,0.584525,0.557124,...,41.346775,2.143623,4.0,08040,43,0.0,17.30,21.0,3.0,NaN
63162,10.0,2020,10.0,9.0,4.0,0.553571,0.571429,0.571429,0.571429,0.571429,...,41.346775,2.143623,4.0,08040,43,0.0,16.40,21.0,3.0,NaN
63163,10.0,2020,10.0,9.0,9.0,0.571429,0.559524,0.547619,0.547619,0.547619,...,41.346775,2.143623,4.0,08040,43,0.0,23.75,21.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381496,511.0,2023,12.0,31.0,0.0,0.717593,0.555556,0.592593,0.810185,0.694444,...,41.400686,2.154332,61.0,08012,20,0.0,10.25,68.0,82.0,NaN
3381497,511.0,2023,12.0,31.0,5.0,0.796296,0.879630,0.777778,0.777778,0.731481,...,41.400686,2.154332,61.0,08012,20,0.0,9.50,68.0,82.0,NaN
3381498,511.0,2023,12.0,31.0,10.0,0.666667,0.680556,0.652778,0.546296,0.551282,...,41.400686,2.154332,61.0,08012,20,0.0,13.95,68.0,82.0,NaN
3381499,511.0,2023,12.0,31.0,15.0,0.666667,0.712963,0.699074,0.587963,0.884259,...,41.400686,2.154332,61.0,08012,20,0.0,15.65,68.0,82.0,NaN
3381500,511.0,2023,12.0,31.0,20.0,0.662037,0.673002,0.908626,0.857212,0.925439,...,41.400686,2.154332,61.0,08012,20,0.0,10.85,68.0,82.0,NaN

In [93]:
zip_carriles = np.unique(carril_bicis['post_code'])
not_carriles = [code for code in data_zip if code not in zip_carriles]
not_carriles

['08004',
 '08007',
 '08012',
 '08021',
 '08022',
 '08023',
 '08024',
 '08031',
 '08035',
 '08036',
 '08038',
 '08039',
 '08040',
 '08930']

In [94]:
full_data['carriles'] = full_data['carriles'].fillna(value = full_data['carriles'].median())
full_data[full_data['carriles'].isnull()]

Empty DataFrame
Columns: [station_id, year, month, day, hour, ctx-4, ctx-3, ctx-2, ctx-1, percentage_docks_available, date, lat, lon, altitude, post_code, capacity, mm_precip, temperature, rating, ocio, carriles]
Index: []

[0 rows x 21 columns]

In [95]:
len(full_data)

3446898

In [96]:
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0,88.0,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0,88.0,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0,88.0,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0,88.0,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0,88.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446893,431.0,2023,12.0,31.0,0.0,0.700000,0.700000,0.700000,0.700000,0.750000,...,41.383467,2.122175,53.0,08028,20,0.0,10.25,38.0,98.0,2.0
3446894,431.0,2023,12.0,31.0,5.0,0.750000,0.750000,0.750000,0.750000,0.750000,...,41.383467,2.122175,53.0,08028,20,0.0,9.50,38.0,98.0,2.0
3446895,431.0,2023,12.0,31.0,10.0,0.750000,0.750000,0.750000,0.750000,0.750000,...,41.383467,2.122175,53.0,08028,20,0.0,13.95,38.0,98.0,2.0
3446896,431.0,2023,12.0,31.0,15.0,0.727273,0.650000,0.650000,0.679167,0.700000,...,41.383467,2.122175,53.0,08028,20,0.0,15.65,38.0,98.0,2.0
3446897,431.0,2023,12.0,31.0,20.0,0.700000,0.700000,0.700000,0.700000,0.700000,...,41.383467,2.122175,53.0,08028,20,0.0,10.85,38.0,98.0,2.0

In [97]:
#data.to_csv('../full_dataframe.csv')
#for year in years:
#    full_data[full_data['year']==year].to_csv('data/full dataframe/dataframe_{}.csv'.format(year))

In [98]:
full_data.size

72384858

In [99]:
# Corregim el float que hi havia a year
full_data['year'] = full_data['year'].astype(int)
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0,88.0,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0,88.0,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0,88.0,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0,88.0,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0,88.0,6.0

In [100]:
# Convertim la date y/m/d/h a timestamp
full_data['timestamp'] = pd.to_datetime(full_data['date'], format='%Y/%m/%d/%H')

# Inici
start_date = pd.Timestamp('2020-01-01 00:00:00')
full_data['time'] = (full_data['timestamp'] - start_date).dt.total_seconds() // 3600
full_data['time'] = full_data['time'].astype(int)

# Ara fem drop de date i timestamp
full_data.drop(columns=['timestamp', 'date'], inplace=True)
full_data['time'].head()

0     2
1     7
2    12
3    17
4    22
Name: time, dtype: int64

In [101]:
festius = pd.read_csv('festius/Festius_generals_de_Catalunya.csv')
festius

     Any        Data             Nom del festiu
0   2020  01/01/2020                  Cap d'Any
1   2020  06/01/2020                       Reis
2   2020  10/04/2020             Divendres Sant
3   2020  13/04/2020  Dilluns de Pasqua Florida
4   2020  01/05/2020          Festa del Treball
..   ...         ...                        ...
75  2025  01/11/2025                 Tots Sants
76  2025  06/12/2025      Dia de la Constitució
77  2025  08/12/2025              La Immaculada
78  2025  25/12/2025                      Nadal
79  2025  26/12/2025                Sant Esteve

[80 rows x 3 columns]

In [102]:
festius['Data'] = pd.to_datetime(festius['Data'], format='%d/%m/%Y')

# Extraiem dia, mes i any per poder comparar amb full data
festius['year'] = festius['Data'].dt.year
festius['month'] = festius['Data'].dt.month
festius['day'] = festius['Data'].dt.day

In [103]:
full_data = full_data.merge(festius[['year', 'month', 'day']], on=['year', 'month', 'day'], how='left', indicator=True)
full_data['festius'] = (full_data['_merge'] == 'both').astype(int)
full_data.drop(columns=['_merge'], inplace=True)
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles,time,festius
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,16.0,08013,45,0.0,5.75,6.0,88.0,6.0,2,1
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,16.0,08013,45,0.0,4.25,6.0,88.0,6.0,7,1
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,16.0,08013,45,0.0,12.45,6.0,88.0,6.0,12,1
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,16.0,08013,45,0.0,9.35,6.0,88.0,6.0,17,1
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,16.0,08013,45,0.0,6.80,6.0,88.0,6.0,22,1

In [104]:
years = full_data['year'].unique()

# Guardem full_data filtrat per anys ja que són fitxers grans
for year in years:
    yearly_data = full_data[full_data['year'] == year]
    yearly_data.to_csv(f'../full_data_{year}.csv', index=False)
    print(f'Saved full_data_{year}.csv')

Saved full_data_2020.csv
Saved full_data_2021.csv
Saved full_data_2022.csv
Saved full_data_2023.csv
Saved full_data_2024.csv