In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [2]:
years = [2020, 2021, 2022, 2023, 2024]
data = pd.read_csv('data/formated data/data_{}.csv'.format(years[0]))
data = data[data['year'] == years[0]]

weather_data = pd.read_csv('data/weather_data/weather_data_{}.csv'.format(years[0]))

for year in years[1:]:
    curr_data = pd.read_csv('data/formated data/data_{}.csv'.format(year))
    curr_data['year'] = year
    curr_data = curr_data[curr_data['year'] == year]
    data = pd.concat([data,curr_data])
    weather_data = pd.concat([weather_data,pd.read_csv('data/weather_data/weather_data_{}.csv'.format(year))])

data = data[['station_id', 'year', 'month', 'day', 'hour', 'ctx-4', 'ctx-3', 'ctx-2', 'ctx-1', 'percentage_docks_available']]
data['date'] = data['year'].astype(int).astype(str)+'/'+data['month'].astype(int).astype(str)+'/' + data['day'].astype(int).astype(str)+'/'+data['hour'].astype(int).astype(str)
data.sort_values(['year', 'month','day','hour'], ascending = True)

weather_data = weather_data[['year','month','day','hour','mm_precip','temperature']]
weather_data['date'] = weather_data['year'].astype(int).astype(str)+'/'+weather_data['month'].astype(int).astype(str)+'/' + weather_data['day'].astype(int).astype(str)+'/'+weather_data['hour'].astype(int).astype(str)
weather_data = weather_data[['mm_precip', 'temperature', 'date']]

In [3]:
stations_info = pd.read_csv('data/info bicing/Informacio_Estacions_Bicing.csv')
stations_info = stations_info[['station_id', 'lat','lon', 'altitude', 'post_code', 'capacity']]
stations_info['post_code'] = '0' + stations_info['post_code'].astype(str)
stations_info

     station_id        lat       lon  altitude post_code  capacity
0             1  41.397978  2.180107      16.0     08013        45
1             2  41.395488  2.177198      17.0     08013        29
2             3  41.394156  2.181331      11.0     08013        27
3             4  41.393317  2.181248       8.0     08013        21
4             5  41.391103  2.180176       7.0     08018        39
..          ...        ...       ...       ...       ...       ...
501         515  41.435207  2.194800      19.0     08030        24
502         516  41.435460  2.200157      15.0     08030        21
503         517  41.462095  2.178959      44.0     08033        20
504         518  41.424689  2.157049     112.0     08032        27
505         519  41.424655  2.166289     110.0     08032        24

[506 rows x 6 columns]

In [4]:
full_data = data.copy()

In [5]:
full_data = pd.merge(full_data, stations_info, left_on = 'station_id', right_on = 'station_id')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45

In [6]:
full_data = pd.merge(full_data, weather_data, left_on = 'date', right_on = 'date', how = 'left')
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.00,5.75
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.00,4.25
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.00,12.45
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.00,9.35
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.00,6.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446893,496.0,2024,3.0,31.0,1.0,0.828704,0.787037,0.777778,0.853535,NaN,2024/3/31/1,41.404862,2.174799,33.0,08025,18,0.00,14.35
3446894,496.0,2024,3.0,31.0,6.0,0.930556,0.944444,0.935185,0.856481,NaN,2024/3/31/6,41.404862,2.174799,33.0,08025,18,0.00,15.10
3446895,496.0,2024,3.0,31.0,11.0,0.912037,0.884259,0.518519,0.157407,NaN,2024/3/31/11,41.404862,2.174799,33.0,08025,18,0.00,14.55
3446896,496.0,2024,3.0,31.0,16.0,0.245370,0.319444,0.277778,0.305556,NaN,2024/3/31/16,41.404862,2.174799,33.0,08025,18,0.35,12.75
3446897,496.0,2024,3.0,31.0,21.0,0.513889,0.435185,0.490741,0.504630,NaN,2024/3/31/21,41.404862,2.174799,33.0,08025,18,0.00,10.25

In [7]:
full_data['temperature'] = full_data['temperature'].fillna(value = full_data['temperature'].mean())
full_data['mm_precip'] = full_data['mm_precip'].fillna(value = full_data['mm_precip'].mean())

In [8]:
codigos_postales_bcn = np.unique(full_data['post_code'])

locations = pd.read_csv('data/locations_data/barna_pics.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
locations.columns = ['post_code', 'rating']
locations['post_code'] = '0'+locations['post_code'].astype(int).astype(str)

locations.head()

  post_code  rating
0     08001      30
1     08002      40
2     08003      42
3     08004      24
4     08005      21

In [9]:
full_data = pd.merge(full_data, locations, left_on = 'post_code', right_on = 'post_code', how = 'left')
full_data['rating'] = full_data['rating'].fillna(value = full_data['rating'].median())
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0

In [10]:
data_ocio = pd.read_csv('data/locations_data/bcn_ocio.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
data_ocio.columns = ['post_code', 'ocio']
data_ocio['post_code'] = '0'+data_ocio['post_code'].astype(int).astype(str)
data_ocio.head()

  post_code  ocio
0       080     4
1     08000     6
2     08001   151
3     08002   119
4     08003   173

In [11]:
full_data = pd.merge(full_data, data_ocio, left_on = 'post_code', right_on = 'post_code', how = 'left')
full_data['ocio'] = full_data['ocio'].fillna(value = full_data['ocio'].median())

In [12]:
bicis = pd.read_csv('data/locations_data/equipament.csv', encoding = 'utf-16')
carril_bicis = bicis[bicis["name"].str.contains("Carril - Bici")].groupby(['addresses_zip_code']).size().reset_index()
carril_bicis['addresses_zip_code']='0'+carril_bicis['addresses_zip_code'].astype(int).astype(str)
carril_bicis.columns = ['post_code', 'carriles']
carril_bicis.head()
full_data = pd.merge(full_data, carril_bicis, left_on = 'post_code', right_on = 'post_code', how = 'left')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0,88.0,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0,88.0,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0,88.0,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0,88.0,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0,88.0,6.0

In [13]:
full_data['carriles'] = full_data['carriles'].fillna(value = full_data['carriles'].median())

In [14]:
# Corregim el float que hi havia a year
full_data['year'] = full_data['year'].astype(int)
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,6.0,88.0,6.0
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,6.0,88.0,6.0
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,6.0,88.0,6.0
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,6.0,88.0,6.0
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,6.0,88.0,6.0

In [15]:
# Convertim la date y/m/d/h a timestamp
full_data['timestamp'] = pd.to_datetime(full_data['date'], format='%Y/%m/%d/%H')

# Inici
start_date = pd.Timestamp('2020-01-01 00:00:00')
full_data['time'] = (full_data['timestamp'] - start_date).dt.total_seconds() // 3600
full_data['time'] = full_data['time'].astype(int)

# Ara fem drop de date i timestamp
full_data.drop(columns=['timestamp', 'date'], inplace=True)
full_data['time'].head()

0     2
1     7
2    12
3    17
4    22
Name: time, dtype: int64

In [16]:
festius = pd.read_csv('festius/Festius_generals_de_Catalunya.csv')
festius

     Any        Data             Nom del festiu
0   2020  01/01/2020                  Cap d'Any
1   2020  06/01/2020                       Reis
2   2020  10/04/2020             Divendres Sant
3   2020  13/04/2020  Dilluns de Pasqua Florida
4   2020  01/05/2020          Festa del Treball
..   ...         ...                        ...
75  2025  01/11/2025                 Tots Sants
76  2025  06/12/2025      Dia de la ConstituciÃ³
77  2025  08/12/2025              La Immaculada
78  2025  25/12/2025                      Nadal
79  2025  26/12/2025                Sant Esteve

[80 rows x 3 columns]

In [17]:
festius['Data'] = pd.to_datetime(festius['Data'], format='%d/%m/%Y')

# Extraiem dia, mes i any per poder comparar amb full data
festius['year'] = festius['Data'].dt.year
festius['month'] = festius['Data'].dt.month
festius['day'] = festius['Data'].dt.day

In [18]:
full_data = full_data.merge(festius[['year', 'month', 'day']], on=['year', 'month', 'day'], how='left', indicator=True)
full_data['festius'] = (full_data['_merge'] == 'both').astype(int)
full_data.drop(columns=['_merge'], inplace=True)
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles,time,festius
0,1.0,2020,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,16.0,08013,45,0.0,5.75,6.0,88.0,6.0,2,1
1,1.0,2020,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,16.0,08013,45,0.0,4.25,6.0,88.0,6.0,7,1
2,1.0,2020,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,16.0,08013,45,0.0,12.45,6.0,88.0,6.0,12,1
3,1.0,2020,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,16.0,08013,45,0.0,9.35,6.0,88.0,6.0,17,1
4,1.0,2020,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,16.0,08013,45,0.0,6.80,6.0,88.0,6.0,22,1

In [19]:
# Crear una columna 'is_weekend' que valga 1 si es sÃ¡bado o domingo, 0 si no
full_data['is_weekend'] = pd.to_datetime(full_data[['year', 'month', 'day']]).dt.dayofweek.apply(lambda x: 1 if x >= 5 else 0)

In [20]:
years = full_data['year'].unique()

# Guardem full_data filtrat per anys ja que sÃ³n fitxers grans
for year in years:
    yearly_data = full_data[full_data['year'] == year]
    yearly_data.to_csv(f'../full_data_{year}.csv', index=False)
    print(f'Saved full_data_{year}.csv')

Saved full_data_2020.csv
Saved full_data_2021.csv
Saved full_data_2022.csv
Saved full_data_2023.csv
Saved full_data_2024.csv