In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [2]:
years = [2020, 2021, 2022, 2023]
data = pd.read_csv('data/formated data/data_{}.csv'.format(years[0]))
data = data[data['year'] == years[0]]
weather_data = pd.read_csv('data/weather_data/weather_data_{}.csv'.format(years[0]))
for year in years[1:]:
    curr_data = pd.read_csv('data/formated data/data_{}.csv'.format(year))
    curr_data = curr_data[curr_data['year'] == year]
    data = pd.concat([data,curr_data])
    weather_data = pd.concat([weather_data,pd.read_csv('data/weather_data/weather_data_{}.csv'.format(year))])
data = data[['station_id', 'year', 'month', 'day', 'hour', 'ctx-4', 'ctx-3', 'ctx-2', 'ctx-1', 'percentage_docks_available']]
data['date'] = data['year'].astype(int).astype(str)+'/'+data['month'].astype(int).astype(str)+'/' + data['day'].astype(int).astype(str)+'/'+data['hour'].astype(int).astype(str)
data.sort_values(['year', 'month','day','hour'], ascending = True)

weather_data = weather_data[['year','month','day','hour','mm_precip','temperature']]
weather_data['date'] = weather_data['year'].astype(int).astype(str)+'/'+weather_data['month'].astype(int).astype(str)+'/' + weather_data['day'].astype(int).astype(str)+'/'+weather_data['hour'].astype(int).astype(str)
weather_data = weather_data[['mm_precip', 'temperature', 'date']]

In [3]:
len(data)

3301796

In [4]:
data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22
...,...,...,...,...,...,...,...,...,...,...,...
821637,520.0,2023.0,10.0,18.0,20.0,0.326923,0.218182,0.494444,0.531250,0.645833,2023/10/18/20
821638,520.0,2023.0,10.0,19.0,1.0,0.625000,0.625000,0.625000,0.625000,0.625000,2023/10/19/1
821639,520.0,2023.0,10.0,19.0,6.0,0.739583,0.760417,0.841346,0.776786,0.750000,2023/10/19/6
821640,520.0,2023.0,10.0,19.0,11.0,0.750000,0.791667,0.369444,0.754167,0.638889,2023/10/19/11
821641,520.0,2023.0,10.0,26.0,11.0,0.625000,0.696911,0.246296,0.437847,0.386111,2023/10/26/11

In [5]:
stations_info = pd.read_csv('data/info bicing/Informacio_Estacions_Bicing.csv')
stations_info = stations_info[['station_id', 'lat','lon', 'altitude', 'post_code', 'capacity']]
stations_info['post_code'] = '0' + stations_info['post_code'].astype(str)
stations_info

     station_id        lat       lon  altitude post_code  capacity
0             1  41.397978  2.180107      16.0     08013        45
1             2  41.395488  2.177198      17.0     08013        29
2             3  41.394156  2.181331      11.0     08013        27
3             4  41.393317  2.181248       8.0     08013        21
4             5  41.391103  2.180176       7.0     08018        39
..          ...        ...       ...       ...       ...       ...
501         515  41.435207  2.194800      19.0     08030        24
502         516  41.435460  2.200157      15.0     08030        21
503         517  41.462095  2.178959      44.0     08033        20
504         518  41.424689  2.157049     112.0     08032        27
505         519  41.424655  2.166289     110.0     08032        24

[506 rows x 6 columns]

In [6]:
full_data = data.copy()
len(full_data)

3301796

In [7]:
full_data = pd.merge(full_data, stations_info, left_on = 'station_id', right_on = 'station_id')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45

In [8]:
len(full_data)

3274434

In [9]:
full_data.sort_values(['station_id','year','month','day','hour']).head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45

In [10]:
len(full_data)

3274434

In [11]:
full_data = pd.merge(full_data, weather_data, left_on = 'date', right_on = 'date')

In [12]:
len(full_data)

3269317

In [13]:
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80

In [15]:
import geopandas as gpd

# Cargar el shapefile en un GeoDataFrame
gdf = gpd.read_file('data/locations_data/geo_data/codigos_postales.shp')

codigos_postales_bcn = np.unique(full_data['post_code'])
# Graficar los polÃ­gonos

locations = pd.read_csv('data/locations_data/barna_pics.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
locations.columns = ['post_code', 'rating']
locations['post_code'] = '0'+locations['post_code'].astype(int).astype(str)
poligs_bcn = gdf[gdf['COD_POSTAL'].isin(codigos_postales_bcn)]
poligs_bcn_locs = pd.merge(poligs_bcn, locations, left_on = 'COD_POSTAL', right_on = 'post_code')

poligs_bcn_locs = poligs_bcn_locs[['COD_POSTAL', 'rating']]
poligs_bcn_locs.columns = ['post_code', 'rating']
#poligs_bcn_locs.head()
locations.head()

  post_code  rating
0     08001      30
1     08002      40
2     08003      42
3     08004      24
4     08005      21

In [16]:
full_data = pd.merge(full_data, poligs_bcn_locs, left_on = 'post_code', right_on = 'post_code')
#full_data = pd.merge(full_data, locations, left_on = 'post_code', right_on = 'addresses_zip_code')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75,6
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25,6
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45,6
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35,6
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80,6

In [17]:
len(full_data)

3347302

In [18]:
data_ocio = pd.read_csv('data/locations_data/bcn_ocio.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
data_ocio.columns = ['post_code', 'ocio']
data_ocio['post_code'] = '0'+data_ocio['post_code'].astype(int).astype(str)
data_ocio.head()

  post_code  ocio
0       080     4
1     08000     6
2     08001   151
3     08002   119
4     08003   173

In [19]:
full_data = pd.merge(full_data, data_ocio, left_on = 'post_code', right_on = 'post_code')

In [20]:
len(full_data)

3347302

In [21]:
bicis = pd.read_csv('data/locations_data/equipament.csv', encoding = 'utf-16')
carril_bicis = bicis[bicis["name"].str.contains("Carril - Bici")].groupby(['addresses_zip_code']).size().reset_index()
carril_bicis['addresses_zip_code']='0'+carril_bicis['addresses_zip_code'].astype(int).astype(str)
carril_bicis.columns = ['post_code', 'carriles']
carril_bicis.head()
full_data = pd.merge(full_data, carril_bicis, left_on = 'post_code', right_on = 'post_code')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,rating,ocio,carriles
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,6,88,6
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,6,88,6
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,6,88,6
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,6,88,6
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,6,88,6

In [27]:
carril_bicis['post_code']

0     08001
1     08002
2     08003
3     08005
4     08006
5     08008
6     08009
7     08010
8     08011
9     08013
10    08014
11    08015
12    08016
13    08017
14    08018
15    08019
16    08020
17    08025
18    08026
19    08027
20    08028
21    08029
22    08030
23    08032
24    08033
25    08034
26    08037
27    08041
28    08042
Name: post_code, dtype: object

In [22]:
len(full_data)

2731769

In [15]:
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lon,altitude,post_code,capacity,mm_precip,temperature,geometry,rating,ocio,carriles
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,2.180107,16.0,08013,45,0.0,5.75,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88,6
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,2.180107,16.0,08013,45,0.0,4.25,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88,6
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,2.180107,16.0,08013,45,0.0,12.45,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88,6
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,2.180107,16.0,08013,45,0.0,9.35,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88,6
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,2.180107,16.0,08013,45,0.0,6.80,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731764,519.0,2023.0,12.0,31.0,1.0,0.913043,0.847826,0.713768,0.731884,0.659420,...,2.166289,110.0,08032,24,0.0,11.10,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52,1
2731765,519.0,2023.0,12.0,31.0,6.0,0.648551,0.619565,0.608696,0.608696,0.735507,...,2.166289,110.0,08032,24,0.0,8.95,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52,1
2731766,519.0,2023.0,12.0,31.0,11.0,0.826087,0.836957,0.898551,0.939799,1.000000,...,2.166289,110.0,08032,24,0.0,17.35,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52,1
2731767,519.0,2023.0,12.0,31.0,16.0,1.000000,1.000000,0.931159,0.923913,0.869565,...,2.166289,110.0,08032,24,0.0,13.85,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52,1
2731768,519.0,2023.0,12.0,31.0,21.0,0.887681,0.905797,0.800725,0.746377,0.713768,...,2.166289,110.0,08032,24,0.0,9.80,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52,1

In [16]:
#data.to_csv('../full_dataframe.csv')
#for year in years:
#    full_data[full_data['year']==year].to_csv('data/full dataframe/dataframe_{}.csv'.format(year))

In [18]:
full_data.size

60098918